{% extends "base.html" %}
{% block body %}
<div class="container">
<form id="analysis" action="/" method="post">
  <div class="row">
      <div class="col-md-2">
      <select class="form-control" id="dbhostlist" name="dbhost" required>
          <option value='' selected>选择主机</option>
          {% for dbhost in dbhostlist %}
            <option value={{ dbhost }}>{{ dbhost }}</option>
          {% endfor %}
      </select>
      </div>
      <div class="col-md-2">
      <select class="form-control" id="dbname" name="dbname" required>
          <option value=''>选择数据库</option>
      </select>
      </div>
      <div class="col-md-2">
        <button type="submit" name='analysis' class="btn btn-success">分析</button>
      </div>
      <div class="col-md-4">
            <span id="number" style="font-size:15px"></span>
      </div>
  </div>
  <div class="row">
          <textarea id="textarea1" class="form-control" name="sqlcontent" rows="5" placeholder="请输入查询SQL" required></textarea>
  </div>
</form>
<div class="row">
      <textarea id="textarea2" class="form-control" rows='30' name="result" readonly></textarea>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#dbhostlist').change(function() {
            var dbhost = $('#dbhostlist option:selected').val();
            if(dbhost==""){
                $('#dbname').find('option').remove();
                $('#dbname').append('<option value="">选择数据库</option>');
                return false;
            }
            $.ajax({
                url: "/display_db/",
                type: 'get',
                data: { 'dbhost': dbhost },
                success: function(data)
                {
                    var dblist = data['result'];
                    if(dblist == ""){
                        $('#dbname').find('option').remove();
                        $('#dbname').append('<option value="">连接数据库错误</option>');
                        return false;
                    }
                    $('#dbname').find('option').remove();
                    $('#dbname').append('<option value="">选择数据库</option>');
                    for (var i=0;i<(data['result']).length;i++){
                        $('#dbname').append('<option value="' + data['result'][i] +'">'+ data['result'][i] +'</option>');
                    }
                }
            });
        });

        $('#analysis').submit(function() {
            $.post("/",$(this).serialize(),function(data) {
                $("#textarea2").val(data['result']);
                $("#number").text(data['totalQueryCounts']);
                var totalQueryCounts=data['totalQueryCounts'];

                //获取类别的查询次数,由于此key是一个md5值，每个key都不一样，
                //所以需要删除字典中的其它项，只保留此项，然后获取value

                delete data['result'];
                delete data['totalQueryCounts'];

                var values = [];
                for (var key in data) {
                        values.push(data[key]);
                }
                var categoryQueryCounts = values[0];

                $("#number").text('第'+ totalQueryCounts + '次查询，本类查询' + categoryQueryCounts + '次');
                $("#number").attr("class","text-success");
            });
            return false;
        });
    })
</script>
{% endblock %}
